@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

#headerGridContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 75px;
    gap: 10px;
    width: 100%;
    height: 100%;
    box-shadow: 0 5px 10px #04101e;
    align-items: center;
    background: #152232;
    color: rgb(160, 177, 197);

    a {
        text-decoration: none;
    }

    a:hover {

        color: white !important;
        transition: color 0.3s;

    }

    a:visited {
        color: rgb(160, 177, 197);
    }
}

.websiteLogo {
    object-fit: contain;
    max-height: 100%;
    justify-self: start;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    white-space: nowrap;
    font-size: clamp(16px, 2.6vw, 30px);
    text-overflow: ellipsis;
}