<th:block th:fragment="animeGrid">
    <a th:href="${'/anime/' + anime.anilistId ?: anime.id}"
       class="animeDiv"
       th:each="anime: ${mediaList}">
        <div class="animeThumbnail">
            <img th:src="${anime.coverImage}" alt="coverImage">
        </div>
        <div class="animeText">
            <h3 th:if="${anime.title.english != null}" th:text="${anime.title.english}">Title</h3>
            <h3 th:if="${anime.title.english == null}" th:text="${anime.title.romaji}">Title</h3>
        </div>
    </a>
</th:block>